{# 	fagplanindex used to show a list of semester/class/courses
	param semesters = the dict of semesters and classes (from data.getAllClasses())
	param semester: (if specified) the semester to show courses for
	param courses: (if semester is specified) the list of courses.
	#} 
	
{% extends "base.html" %}

{% block content %}
<h1>Courses</h1>

	<h2>Available semesters</h2>
    {% with semesters=classes, subsection="fagplan" %}
        {% include "_listsemesters.html" %}
    {% endwith %}
	

	{% if semester %}
	<h2>Available course description for semester {{ semester }} </h2>
	    {% with semester=semester, courses=courses  %}
	        {% include "_listcourses.html" %}
	    {% endwith %}
	
	{% endif %}

{% endblock content %}