{% extends "base.html" %}

{% block content %}

{# params: 
course is the name of the course, eg. "ITT2 Networking"
coursesections is a list of the list of sections in the course plan 
sectionpages is the list of pages (ie. files on disk)
#}

<h1 id="{{ course }}">{{ course }}</h1>
Course description for semester {{ semester }} 

{# looping through relevant sections #}
{% for section in coursesections %}

	{# check if they have a corresponding page #}
	{% if section in sectionpages %}
		{% with page = sectionpages[section] %} 
			{% if not page.status %}
				<h2 id="{{ section }}">{{ section }}</h2>
				{{ page.html|safe }}			
			{% elif page.status == "exclude" %}
				{# output nothing #}
			{% else %}
				<h2 id="{{ section }}">{{ section }}</h2>
				<em>{{ page.status }} </em>
				<br/>
				{{ page.html|safe }}
			{% endif %}
		{% endwith %}
	{% else %}
		{% if section == "Schedule" %}
			<h2 id="{{ section }}">{{ section }}</h2>
			The schedule shows when the course is running and the topics. Please note that changes may occur during the semester.
		{% elif section == "Exam questions" %}
			{# output nothing #}
		{% else %}
			<h2 id="{{ section }}">{{ section }}</h2>
			No description yet.
		{% endif %}
	{% endif %}
	
	{# schedule and evaluation are special cases #}
	{% if section == "Schedule" %}
		{% if schedule %}
		    {% with schedule=schedule  %}
		        {% include "_schedule.html" %}
		    {% endwith %}
		{% else %}
			No schedule uploaded.
		{% endif %} 
	{% elif section == "Evaluation" %}
		{% if handins %}
	        {% include "_handins.html" %}
	        <br />
	        A calendar file is available at <a href='{{ url_for( "calendar_course", semester=semester, classname=classname, course=course ) }}'>{{ url_for( "calendar_course", semester=semester, classname=classname, course=course ) }}</a>
		{% else %}
			(no formal hand-in list available)
		{% endif %} 	
	{% endif %}
{% endfor %}

{% endblock content %}
