{% extends "base.html" %}

{% block content %}
<h1>{{ course }} </h1>
Course description for semester {{ semester }} 

{% for section in coursesections %}

	{% if section in sectionpages %}
		<h2>{{ section }}</h2>
		{% with page = sectionpages[section] %} 
			{% if page.status %}
			<em>{{ page.status }} </em>
			<br/>
			{% endif %}
			{{ page.html|safe }}
		{% endwith %}
	{% else %}
		{% if section == "Schedule" %}
			<h2>{{ section }}</h2>
			The schedule show when the course is running and the topics. Please note that changes may occur during the semester.
		{% elif section == "Exam questions" %}
			{# output nothing #}
		{% else %}
			<h2>{{ section }}</h2>
			No description yet.
		{% endif %}
	{% endif %}
	
	{# schedule is a special case #}
	{% if section == "Schedule" %}
		{% if schedule %}
		    {% with schedule=schedule  %}
		        {% include "_schedule.html" %}
		    {% endwith %}
		{% else %}
			No schedule uploaded.
		{% endif %} 
	{% endif %}
{% endfor %}

{% endblock content %}
