{% extends "base.html" %}

{% block content %}

<h1>Calendar files</h1>

If you end up here, you have a wrong url. <br>

To get the calendar file for a course use: /ics/[semester]/[class]/[course]/schedule.ics

e.g. <a href='{{ url_for( "calendar_course", semester = "2013S", classname = "ITT2 Networking", course = "Project firewall") }}'>{{ url_for( "calendar_course", semester = "2013S", classname = "ITT2 Networking", course = "Project firewall")  }}</a>

<br />
To get the calendar file for a course use: /ics/[semester]/[class]/schedule.ics

e.g. <a href='{{ url_for( "calendar_semester", semester = "2013S", classname = "ITT2 Networking") }}'>{{ url_for( "calendar_semester", semester = "2013S", classname = "ITT2 Networking" )  }}</a>


{% endblock content %}